*{
margin: 0;
padding: 0;
}


.example img{
width:20%;
height: auto;
}

.example{
  display: block;
}

.cont{
 background-color: rgb(255, 210, 145);
background-image: url("different-Ways-To-Look-Taller-for-small-girls-18.jpg");
background-repeat: repeat;
/** no-repeat, repeat-y l, repeat-x **/
background-size: contain;
background-color: hsla(0, 0%, 0%, 0.40); /** will make the image darker **/
background-position: center;/** for moving picture...top-right, top, bottom) **/
}

.hero{
border-bottom: 2px solid black;
padding:20px;
display: flex;
justify-content:flex-start ;
align-items: center;
gap:30px;

/**
background-color: rgb(255, 210, 145);
background-image: url("different-Ways-To-Look-Taller-for-small-girls-18.jpg");
background-repeat: repeat; /** no-repeat, repeat-y l, repeat-x 
background-size: contain; **/
 
}

.nowrap{
white-space: nowrap;
}
 .profile-pic-fig{
  width:35%;
   
 }
  
  .profile-pic-fig img{
  width:100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
  }
  
  .h1{
   font-size:500%;
   text-shadow: 2px 2px 5px whitesmoke;
  }
  
  
  .offscreen{
  position:absolute;
  left: -10000px;
  }
  
 