a{
color: green;
}

a:visited{
color: deeppink;
}

a:hover, a:active{
color: yellowgreen;
}

table, tr, th, caption, td {
border: 1px solid green;
font-family: Arial;
padding: 0.5rem;
border-collapse: collapse;
}