.container{
  height: 300px;
  border: 1px solid green;
  }

  
  .picture{
  width: 300px;
  display: inline-block;
  margin: 0px;
  }
  
  .Texts{
  margin-right: 10px;
  font-weight: 500;
  }
  
  .profile_cont{
  display: inline-block;
  vertical-align:top;
  }
  .profile_pic{
  border-radius: 50%;
  width:50px;
  }
  .image_Text{
  vertical-align:top;

  display: grid;
  grid-template-columns: 94px 1fr;
  }
  .Text1,
  .Text2{
  margin-top: 0px;
  }
  .image_container{
  margin: 0px;
  border: 1px solid red;
  }
  
  .video-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-top: 90px;
  gap: 10px;
  padding: 16px;
  }
  
  
.header{

}

.profile-text-cont{
display: flex;
flex-direction: row;
}
